/* Thema padrao */
:root {
  --background-primary: #0a1f33;
  --background-middle: #0c243d;
  --background-light: #0e2a47;

  --primary-button-timer: #1e88e5;
  --secondary-button-timer: #F9A825;
  --hover-animations-progress: #4fc3f7;

  --primary-text: #f9fbfc;
  --secondary-text: #f5ebdc;

  --focus-mode: #f75e25;
  --short-break: #2a9d8f;
  --long-break: #1e88e5;
  --danger: #e63946;

  --info: #0ea5e9;
  --sucess: #22c55e;
  --warning: #eab308;
  --error: #991b1b;
}

:root[data-theme='light'] {
  --background-primary: #f4f7fb;
  --background-middle: #eef2f6;
  --background-light: #e7ecf2;

  --primary-text: #0a1f33;
  --secondary-text: #1a2c40;
}
