.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}

.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  width: 2rem;
  height: 2rem;
  background-color: var(--secondary-text);
  border-radius: 50%;
}

.focus {
  background-color: var(--focus-mode);
}

.shortBreak {
  background-color: var(--short-break);
}

.longBreak {
  background-color: var(--long-break);
}
