.button {
  padding: 0.8rem;

  border: none;
  border-radius: 0.8rem;

  width: 20rem;
  color: var(--primary-text);
  
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 3.6rem 0;

  cursor: pointer;

  transition: all 0.3s ease;
}

.button:hover {
  filter: brightness(80%);
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.primary {
  background: var(--primary-button-timer);
}

.secondary {
  background: var(--secondary-button-timer);
}
